body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-image: url("https://img1.etsystatic.com/000/0/5761949/il_fullxfull.311174943.jpg");
  color: black;
  font-weight: bold;
  font-size: 150%;
}

img {
  margin: 10px;
  border: 5px black solid;
}

ul {
  list-style-type: none;
}

bulletPoints {
  float: right;
}
